<div class="row">

    <div class="col-sm-3 mb-4 mt-4">
        <button class="btn btn-info ms-4 mb-4" (click)="goToProducts()">Go Back</button>

      <img [src]="singleProduct.image" class="img-fluid" />
  
      <h3>{{ singleProduct.name }}</h3>
  
      <h4>price: {{ singleProduct.price }}</h4>
      <h4 class="text-decoration-line-through">price: {{ singleProduct.price }}</h4>
  
      <button class="btn btn-primary" [disabled]="singleProduct.quantity == 0">
        Add to Cart <i class="fa-solid fa-cart-shopping"></i>
      </button>
    </div>
  </div>
  